/* Eric Meyer's CSS Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   This is a Sass partial
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #f1f1f1;
  font-family: 'Roboto', sans-serif;
}

#loadingScreen {
  height: 100%;
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 30%;
}

.container {
  padding: 20px;
}

.container--content {
  padding: 50px;
}

.discover, .devices{
  max-width: 800px;
  margin: auto;
}

.graphs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.graph {
  flex-grow: 1;
  padding: 15px;
  margin: 10px;
  background-color: white;
  align-self : auto;
  width : 30vw;
  height : 30vw;
  min-width: 300px;
  min-height: 180px;
  max-width : 450px;
  max-height : 450px;
}

.container--app {
  position: relative;
  margin:auto;
  width: 80%;
}

.text--center {
  text-align: center;
}

p {
  margin-bottom: 5px;
}

code {
  padding: .2rem .4rem;
  font-size: 90%;
  color: #bd4147;
  background-color: #f7f7f9;
  border-radius: .25rem;
}

.notEditable {
  display: inline;
}

.btn-group > .btn:first-child {
  margin-left: 0;
}

.btn-group-vertical > .btn, .btn-group > .btn {
  position: relative;
  float: left;
}
.btn-group {
  justify-content: flex-start !important;
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn {
  flex: 0 !important;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: left;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-info.focus, .btn-add, .btn-info:focus {
  color: #fff;
  background-color: #31b0d5;
  border-color: #1b6d85;
}
.btn.focus, .btn:focus, .btn:hover {
  color: #333;
  text-decoration: none;
}

.array-item-move-up, .array-item-move-down {
  display: none;
}

i.glyphicon { display: none; }
.btn-add::after { content: 'Add'; }
.array-item-move-up::after { content: 'Move Up'; }
.array-item-move-down::after { content: 'Move Down'; }
.array-item-remove::after { content: 'Remove'; }
